# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb_checkpoints

# Ambientes virtuais
myenv/
.env

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
desktop.ini

# Dados de teste
dados/respostas_simuladas.csv

# Logs
*.log
*.tmp
*.bak

# Docker
*.pid
*.seed
*.pid.lock
